.ng-st-col-head.sortable {
    cursor: pointer;
}

th.ng-st-col-head {
    background-color: #99bfe6;
}

.even {
    background-color: white;
}

.odd {
    background-color: #ebf2fa;
}

table.ng-simple-table {
    border-color: #cdcdcd;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
}

table.ng-simple-table thead,
table.ng-simple-table thead.th {
    border-color: #cdcdcd;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
}

.ng-st-filter-row {
    background-color: #eeeeee;
}

.ng-st-clear-filter {
    cursor: pointer;
    opacity: .5;
    /* For IE8 and earlier */
    filter: alpha(opacity=50);
}

.ng-st-clear-filter:hover {
    opacity: 1.0;
    /* For IE8 and earlier */
    filter: alpha(opacity=100);
}


/* Make the text areas a little shorter, user can expand them if they want */

textarea.ngst-edit-data {
    height: 1.25em;
}