<div *ngIf="renderReady === true" class="ng-simple-table-holder">
    <table [ngClass]="tableSettings.tableClass">
        <thead class="ng-st-thead">
            <tr class="ng-st-head-row">
                <ng-container *ngFor="let col of tableSettings.columns">
                    <th class="ng-st-col-head {{col.name}}" [style.max-width.px]="col.maxWidth" [ngClass]="{'sortable': col.sortable===true}" (click)="col.sortable && this.sortClick(col.name)">{{col.display}}
                        <ng-container *ngIf="col.sortable === true">&nbsp;
                            <ng-container *ngIf="col.sortSettings.sort === 'unsort'"><i class="fa fa-sort"></i></ng-container>
                            <ng-container *ngIf="col.sortSettings.sort === 'asc'"><i class="fa fa-sort-asc"></i></ng-container>
                            <ng-container *ngIf="col.sortSettings.sort === 'desc'"><i class="fa fa-sort-desc"></i></ng-container>
                        </ng-container>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="tableSettings.filterRow === true">
                <tr class="ng-st-filter-row">
                    <ng-container *ngFor="let col of tableSettings.columns">
                        <td [style.max-width.px]="col.maxWidth">
                            <div class="filter-container">
                                <input type="text" [style.max-width.px]="(col.maxWidth-20)" class="filter-textbox" placeholder="Filter..." [value]="filterValues[col.name]" (keyup)="filterTypeCapture($event, col.name);" id="filter-box" /><i class="fa fa-close ng-st-clear-filter"
                                    (click)="clearFilter(col.name);"></i>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
            <ng-container *ngFor="let row of tableData; let i = index; let odd = odd; let even = even;">
                <tr *ngIf="row.ngSTRowId !== undefined && row.ngSTdisp === true" id="{{row.ngSTRowId}}" class="ng-st-row" [ngClass]="{ odd: odd, even: even }">
                    <ng-container *ngFor="let col of tableSettings.columns">
                        <td class="ng-st-cell {{col.name}}" [style.max-width.px]="col.maxWidth">
                            <ng-container *ngIf="col.type==='string' && col.edit === false">
                                {{row[col.name]}}
                            </ng-container>
                            <ng-container *ngIf="col.type==='string' && col.edit === true">
                                <textarea class="ngst-edit-data" [style.max-width.px]="col.maxWidth*.9" (keyup)="textChange($event, i, col.name);">{{tableData[i][col.name]}}</textarea>
                            </ng-container>
                            <ng-container *ngIf="col.type==='html'">
                                <div [innerHTML]="row[col.name]"></div>
                            </ng-container>
                            <ng-container *ngIf="col.type==='checkbox'">
                                <input type="checkbox" (change)="checkboxChange($event, i, col.name);" [checked]="row[col.name].checked" [disabled]="!col.edit" />&nbsp;{{row[col.name].display}}
                            </ng-container>
                            <ng-container *ngIf="col.type==='dropdown'">
                                <select (change)="dropdownChange($event,i,col.name)" [style.max-width.px]="col.maxWidth*.9">
                                  <option value="" [disabled]="!col.edit" [selected]="row[col.name] === undefined">{{col.dropdownOptions.default}}</option>
                                  <option *ngFor='let option of col.dropdownOptions.options' [disabled]="!col.edit" [value]="option.value" [selected]="option.value === row[col.name]">{{option.display}}</option>
                                </select>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="row.ngSTRowId === undefined && row.ngSTdisp === true" class="ng-st-row" [ngClass]="{ odd: odd, even: even }">
                    <ng-container *ngFor="let col of tableSettings.columns">
                        <td class="ng-st-cell {{col.name}}" [style.max-width.px]="col.maxWidth">
                            <!-- <td class="ng-st-cell" (click)="this.functionObject.testAlert('Test');"> -->
                            <ng-container *ngIf="col.type==='string' && col.edit === false">
                                {{row[col.name]}}
                            </ng-container>
                            <ng-container *ngIf="col.type==='string' && col.edit === true">
                                <textarea class="ngst-edit-data" [style.max-width.px]="col.maxWidth*.9" (keyup)="textChange($event, i, col.name);">{{tableData[i][col.name]}}</textarea>
                            </ng-container>
                            <ng-container *ngIf="col.type==='html'">
                                <div [innerHTML]="row[col.name]"></div>
                            </ng-container>
                            <ng-container *ngIf="col.type==='checkbox'">
                                <input type="checkbox" (change)="checkboxChange($event, i, col.name);" [checked]="row[col.name].checked" [disabled]="!col.edit" />&nbsp;{{row[col.name].display}}
                            </ng-container>
                            <ng-container *ngIf="col.type==='dropdown'">
                                <select (change)="dropdownChange($event,i,col.name)" [style.max-width.px]="col.maxWidth*.9">
                                  <option value="" [disabled]="!col.edit" [selected]="row[col.name] === undefined">{{col.dropdownOptions.default}}</option>
                                  <option *ngFor='let option of col.dropdownOptions.options' [disabled]="!col.edit" [value]="option.value" [selected]="option.value === row[col.name]">{{option.display}}</option>
                                </select>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
            <tr *ngIf="tableSettings.bottomEditAllRow" class="bottomEditAllRow">
                <ng-container *ngFor="let col of tableSettings.columns">
                    <td>
                        <ng-container *ngIf="col.type==='string' && col.edit">
                            <textarea class="ngst-edit-data" [style.max-width.px]="col.maxWidth*.9" (keyup)="allChange($event, col.name, 'allText')"></textarea>
                        </ng-container>
                        <ng-container *ngIf="col.type==='checkbox' && col.edit">
                            <input type="checkbox" (change)="allChange($event, col.name, 'chk')" [checked]="startAllChkStatus(col.name)" />&nbsp;All
                        </ng-container>
                        <ng-container *ngIf="col.type==='dropdown' && col.edit">
                            <select [style.max-width.px]="col.maxWidth*.9" (change)="allChange($event, col.name, 'drp')">
                          <option value="">{{col.dropdownOptions.default}}</option>
                          <option value="ngSTunset">Reset All</option>
                          <option *ngFor='let option of col.dropdownOptions.options' [value]="option.value">{{option.display}}</option>
                        </select>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>