.ng-st-col-head.sortable {
    cursor: pointer;
}

th.ng-st-col-head {
    background-color: #99bfe6;
}

.even {
    background-color: white;
}

.odd {
    background-color: #ebf2fa;
}

table.ng-simple-table {
    border-color: #cdcdcd;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
}

table,
tr,
th,
td {
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    border-spacing: 0;
}

table.ng-simple-table thead tr,
table.ng-simple-table thead tr th {
    border-color: #cdcdcd;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
}

th.ng-st-col-head {
    font-size: .75em;
}

.ng-st-filter-row {
    background-color: #eeeeee;
}

.ng-st-clear-filter {
    cursor: pointer;
    opacity: .5;
    /* For IE8 and earlier */
    filter: alpha(opacity=50);
}

.ng-st-clear-filter:hover {
    opacity: 1.0;
    /* For IE8 and earlier */
    filter: alpha(opacity=100);
}

.filter-container {
    position: relative;
    width: 100%;
    height: 100%;
}

input[type="text"].filter-box {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.filter-textbox-container {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.ng-st-clear-filter-container {
    position: absolute;
    top: 1px;
    right: 0px;
    /* z-index: 1; */
}

.ng-st-paging-container {
    position: relative;
}

.ng-st-small-text {
    font-size: .8em;
}

.ng-st-paging-info-text {
    color: red;
}

.ng-st-paging-control {
    margin-left: 6em;
    padding-bottom: 1em;
}

.ng-st-prev-next {
    margin-left: 3em;
}

.ng-st-prev-next-no-margin {
    margin-left: 0px;
}

.ng-st-prev-next-no-margin a {
    text-decoration: none;
}

.ng-st-prev-next a {
    text-decoration: none;
}

table.ng-st-control,
.ng-st-control tr,
.ng-st-control td {
    border-width: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
}